<a class="pull-right">
    Planner: <span data-bind="text: lastPlanner"></span> [<span data-bind="text: meanPlanner"></span>]
    &nbsp;
    Input: <span data-bind="text: lastInput"></span> [<span data-bind="text: meanInput"></span>]
</a>