<a class="pull-right">
    Planner: <span data-bind="text: lastPlanner"></span> [<span data-bind="text: meanPlanner"></span>]
    &nbsp;
    Block: <span data-bind="text: lastBlock"></span> [<span data-bind="text: meanBlock"></span>]
</a>